<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout002}">
<th:block layout:fragment="content002">
<style>
.pink {
		color: #fa626b;
}
.small {
		font-size: 6px;
}
</style>
	<div class="app-content content">
		<div class="content-wrapper">
			<div class="content-wrapper-before"></div>
			<div class="content-header row">
				<div class="content-header-left col-md-4 col-12 mb-2">
					<h3 class="content-header-title">자유게시판</h3> <!-- Title 입력 -->
				</div>
				<div class="content-header-right col-md-8 col-12">
					<div class="breadcrumbs-top float-md-right">
						<div class="breadcrumb-wrapper mr-1">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/home">Home</a></li> <!-- Home LINK -->
								<li class="breadcrumb-item active">자유게시판</li> <!-- Title 입력 -->
							</ol>
						</div>
					</div>
				</div>
			</div>
			<div class="content-body">
				<section id="chartjs-bar-charts">
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Check In Company 자유게시판</h4> <!-- 부제목 입력 -->
								</div>
								<div class="card-content collapse show">
				                    <div class="row">
										<div class="col-12">
											<div class="card">
												<div class="card-header">
													<h1 class="card-title"><a href="/FRWrite"><span class="pink"><i class="la la-dedent"></i> 글쓰기</span></a></h1>
													<a class="small">글쓰기를 클릭하여 새로운 게시글을 작성 할 수 있습니다.</a>
													<a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
													<div class="heading-elements">
														<ul class="list-inline mb-0">
															<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
															<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
															<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
															<li><a data-action="close"><i class="ft-x"></i></a></li>
														</ul>
													</div>
												</div>
												<div class="card-content collapse show">
													<div class="card-body">
														<p class="card-text">자유게시판 게시글 목록</p>
													</div>
													<div class="table-responsive">
														<table class="table table-bordered mb-0">
															<thead>
																<tr>
																	<th>No</th>
																	<th width="55%">제목</th>
																	<th>작성자</th>
																	<th width="16%">작성일자</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<th scope="row">1</th>
																	<td><a href="/FRDetail">게시글에 제목이 입력되는 곳</a></td>
																	<td>김작성</td>
																	<td class="small">2022-11-09 09:11:55</td>
																</tr>
																<tr>
																	<th scope="row">2</th>
																	<td>Board Title</td>
																	<td>Otto</td>
																	<td class="small">2022-11-09 09:01:15</td>
																</tr>
																<tr>
																	<th scope="row">3</th>
																	<td>Check IN 프로젝트 시작합니다...</td>
																	<td>Thornton</td>
																	<td class="small">2022-11-08 13:58:44</td>
																</tr>
																<tr>
																	<th scope="row">4</th>
																	<td>제 인스타 아이디는 >>> </td>
																	<td>l_ahee___do</td>
																	<td class="small">2022-11-05 15:01:32</td>
																</tr>
																<tr>
																	<th scope="row">5</th>
																	<td>주놘시 멍청이래요ㅎㅎㅎㅎㅎ </td>
																	<td>cutypapa</td>
																	<td class="small">2022-09-13 07:40:27</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
												<div style="padding-top: 20px; text-align: right;">
												<button type="button" class="btn mr-1 mb-1 btn-danger btn-sm"><i class="la la-angle-left"></i></button>
												<button type="button" class="btn mr-1 mb-1 btn-danger btn-sm"><i class="la la-angle-right"></i></button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</th:block>
</html>