<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
	<footer class="footer footer-static footer-light navbar-border navbar-shadow">
	  <div class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">2022  &copy; 3LEE <a class="text-bold-800 grey darken-2" href="#" target="_blank">CheckIn Project</a></span>
	    <ul class="list-inline float-md-right d-block d-md-inline-blockd-none d-lg-block mb-0">
	      <li class="list-inline-item"><a class="my-1" href="#" target="_blank"> JunHwan</a></li>
	      <li class="list-inline-item"><a class="my-1" href="#" target="_blank"> DongHwan</a></li>
	      <li class="list-inline-item"><a class="my-1" href="#" target="_blank"> JongKyoung</a></li>
	    </ul>
	  </div>
	</footer>
</th:block>
</html>