!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통으로 쓰이는 script 파일을넣는다.-->
<th:block th:fragment="scriptFragment">


  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/bootstrap/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  .... 스크립트 코드 작성

  <!-- Page level custom scripts -->
<!--  <script th:src="@{/bootstrap/js/demo/chart-area-demo.js}"></script>
  <script th:src="@{/bootstrap/js/demo/chart-pie-demo.js}"></script>-->

</th:block>
</html>