<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout002}">
<th:block layout:fragment="content002">
	<div class="app-content content">
		<div class="content-wrapper">
			<div class="content-wrapper-before"></div>
			<div class="content-header row">
				<div class="content-header-left col-md-4 col-12 mb-2">
					<h3 class="content-header-title">Table</h3> <!-- Title 입력 -->
				</div>
				<div class="content-header-right col-md-8 col-12">
					<div class="breadcrumbs-top float-md-right">
						<div class="breadcrumb-wrapper mr-1">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/home">Home</a></li> <!-- Home LINK -->
								<li class="breadcrumb-item active">Table</li> <!-- Title 입력 -->
							</ol>
						</div>
					</div>
				</div>
			</div>
			<div class="content-body">
				<!-- Bar charts section start -->
				<section id="chartjs-bar-charts">
					<!-- Column Chart -->
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Table UI</h4> <!-- 부제목 입력 -->
								</div>
								<div class="card-content collapse show">
				                    <div class="row">
										<div class="col-12">
											<div class="card height-400">
												<div class="card-header">
													<h4 class="card-title">Bordered table</h4>
													<a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
													<div class="heading-elements">
														<ul class="list-inline mb-0">
															<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
															<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
															<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
															<li><a data-action="close"><i class="ft-x"></i></a></li>
														</ul>
													</div>
												</div>
												<div class="card-content collapse show">
													<div class="card-body">
														<p class="card-text">Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>
													</div>
													<div class="table-responsive">
														<table class="table table-bordered mb-0">
															<thead>
																<tr>
																	<th>#</th>
																	<th>First Name</th>
																	<th>Last Name</th>
																	<th>Username</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<th scope="row">1</th>
																	<td>Mark</td>
																	<td>Otto</td>
																	<td>@mdo</td>
																</tr>
																<tr>
																	<th scope="row">2</th>
																	<td>Mark</td>
																	<td>Otto</td>
																	<td>@TwBootstrap</td>
																</tr>
																<tr>
																	<th scope="row">3</th>
																	<td>Jacob</td>
																	<td>Thornton</td>
																	<td>@fat</td>
																</tr>
																<tr>
																	<th scope="row">4</th>
																	<td colspan="2">Larry the Bird</td>
																	<td>@twitter</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</th:block>
</html>